@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.heading {
  height: 100px;
  width: 100%;
  padding: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 15px;

  &__img-home {
    height: 3.5rem;
  }

  &__img-menu {
    height: 3rem;
    right: 0;
  }

  &__header {
    padding-left: 10px;
    padding-top: 10px;
    color: $text-gray;
  }
}
