@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.foods-recipes {
  &__main {
    margin-top: 100px;
    &--desktop-button {
      display: none;
    }
    &--button {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .foods-recipes {
    &__main {
      margin-top: 150px;
      &--desktop-button {
        display: flex;
        padding: 20px;
        position: absolute;
        right: 0;
      }

      &--button {
        display: none;
      }
    }
  }
}
