@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.food-recipe {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;

  &__image {
    &--food {
      width: 240px;
      height: 200px;
      border-radius: 10px;
    }
  }

  &__content {
    overflow-y: scroll;

    &--heading {
      height: 2rem;
      margin-top: 10px;
    }

    &--level {
      color: $text-gray;
      background-color: $color-blue-green;
      max-width: fit-content;
      border-radius: 10px;
      padding: 10px;
    }

    &--vegan {
      color: $text-gray;
      background-color: $color-gray;
      max-width: fit-content;
      border-radius: 10px;
      padding: 10px;
      margin-left: 5px;
    }

    &--text {
      color: $text-gray;
    }
  }
}

.link-back {
  text-align: center;
  padding-bottom: 10px;
}

.link-back:hover {
  cursor: pointer;
}

@media screen and (min-width: $tablet-breakpoint) {
  .food-recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    &__image {
      &--food {
        width: 420px;
        height: 340px;
      }
    }

    &__content {
      &--heading {
      }

      &--head {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .food-recipe {
    &__image {
      &--food {
        width: 600px;
        height: 400px;
      }
    }
    &__content {
      width: 50%;
    }
  }
}
