@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.foodcard {
  border: 2px solid $color-orange;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $text-gray;
  width: 260px;
  height: 480px;
  padding: 10px;
  margin: 20px;

  &__image {
    width: 200px;
    height: 180px;

    box-shadow: 2px 2px 2px $text-gray;
    margin: 20px;
    border-radius: 5px;
  }

  &__rating {
    background-color: $color-green;
    color: $text-white;
    border-radius: 5px;
    padding: 3px;
    max-width: fit-content;
    font-size: 14px;
  }

  &__nationality,
  &__level,
  &__price {
    color: $text-gray;
  }
}
