@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    width: 100%;
    margin-top: 100px;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
  }

  .welcome {
    padding: 30px;

    &__top {
      margin: 10px;
    }
    &__text {
      padding-left: 15px;
      padding-top: 15px;
      color: $text-gray;
    }
  }
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: $tablet-breakpoint) {
  .welcome {
    margin-top: 20px;
    padding-left: 100px;

    &__text {
      padding-left: 30px;
      padding-top: 20px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .welcome {
  }
}
