$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;

$text-black: rgb(19, 18, 18);
$text-gray: rgb(88, 85, 85);
$text-white: rgb(255, 255, 255);


$color-orange: #ffb766;
$color-bright-orange: #f43a09;
$color-blue-green: #c2edda;
$color-green: #68d388;

